.footer {
  justify-content: center;
  align-items: center;
  background: $bg-color;
  color: $white-color;
  & .container {
    display: flex;
  }
}
.footer__address {
  display: inline-block;
  margin-right: 70px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer__logo {
  margin-bottom: 20px;
}

.address__list {
}
.address__item {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);

  &:first-child {
    color: #ffffff;
  }
  &:last-child {
    margin: 0;
  }
}
.address__street {
}
.address__contact {
}

// social
.footer__social {
  display: inline-block;
  
}

.footer__sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  padding-top: 12px;
  margin-bottom: 20px;
  color: $white-color;
}

.social__item--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
}

// field
.footer__field {
  display: inline-block;
  margin-left: auto;
}
.footer__field-box {
  display: flex;
}
.footer__input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:focus{
	border: 1px solid $active-color;
  }
}
