.hero {
max-width: 1600px;
margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__text {
  width: 700px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
}
