.project__list {
  display: flex;
  flex-wrap: wrap;
}
.project__item {
  display: block;
  width: 370px;
  height: 404px;
  margin: 0 30px 30px 0;

  background: $white-color;
  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:hover .project__description--animate {
  transform: translateY(0);
  opacity: 1;
  top: 0;
}

.project__link-container {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
//animate
.project__description--animate {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(104%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;

  background: rgba(33, 150, 243, 0.9);
}

.project__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  color: #ffffff;
  margin: 0;
}

// tumb
.project__tumb {
	 border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: $title-color;

  margin-bottom: 4px;
}
.project__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;

  color: $text-color;
  margin: 0;
}
