$active-color: #2196f3;
$hover-color: #107ed8;
$title-color: #212121;
$text-color: #757575;
$bg-color: #2f303a;
$white-color: #ffffff;
$icon-color: #afb1b8;


body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  color: var(--title-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0;
}
.section-about {
  padding-top: 0px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
